@font-face {
  font-family: 'Cera Round Pro';
  src: url("@/assets/fonts/CeraRoundProRegular.woff") format("woff");
}

:root {
  font-family: Cera Round Pro, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
}

body {
  background-color: var(--surface-ground);
  color: var(--text-color);
}

h2 {
  font-size: 2em;
}

.splide {
  padding: 0;
}

.splide__splide {
  transition: transform .2s;
  transform: scale(1);
}

.splide--slide {
  display: flex;
  align-items: center;
}

.splide__arrow {
  height: 95%;
  width: 18%;
}

.splide__pagination {
  counter-reset: pagination-num;
}

.splide__pagination__page {
  height: auto;
}

.splide__pagination__page:before {
  counter-increment: pagination-num;
  content: counter( pagination-num );
}