body {
  background-color: var(--surface-ground);
  color: var(--text-color);
}

.splide__splide {
  transition: transform .2s;
  transform: scale(1);
}

.splide__pagination {
  counter-reset: pagination-num;
}

.splide__pagination__page {
  height: auto;
}

.splide__pagination__page:before {
  counter-increment: pagination-num;
  content: counter( pagination-num );
}