body {
  background-color: var(--surface-ground);
  color: var(--text-color);
}

.splide {
  padding: 0;
}

.splide__splide {
  transition: transform .2s;
  transform: scale(1);
}

.splide--slide {
  display: flex;
  align-items: center;
}

.splide__arrow {
  top: 95%;
}

.splide__pagination {
  counter-reset: pagination-num;
}

.splide__pagination__page {
  height: auto;
}

.splide__pagination__page:before {
  counter-increment: pagination-num;
  content: counter( pagination-num );
}